<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>db.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebAppContextListener</servlet-name>
        <servlet-class>listener.WebAppContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>servlet.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrazione</servlet-name>
        <servlet-class>servlet.registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utente</servlet-name>
        <servlet-class>db.Utente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_functions</servlet-name>
        <servlet-class>servlet.admin_functions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendPassword</servlet-name>
        <servlet-class>servlet.sendPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebAppContextListener</servlet-name>
        <url-pattern>/WebAppContextListener</url-pattern>
    </servlet-mapping>
    <listener>
        <description>listener</description>
        <listener-class>listener.WebAppContextListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utente</servlet-name>
        <url-pattern>/Utente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_functions</servlet-name>
        <url-pattern>/admin_functions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendPassword</servlet-name>
        <url-pattern>/sendPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/Mainagioia;user=Mainagioia;password=Mainagioia</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
    <error-page>
        <location>/argh_page.jsp</location>
    </error-page>
</web-app>
