<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>db.DBManager</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>WebAppContextListener</servlet-name>
       <servlet-class>listener.WebAppContextListener</servlet-class>
   </servlet>
   <servlet>
        <servlet-name>Utente</servlet-name>
        <servlet-class>db.Utente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>servlet.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recensione</servlet-name>
        <servlet-class>servlet.Recensione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Risposte</servlet-name>
        <servlet-class>servlet.Risposte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ristorante</servlet-name>
        <servlet-class>servlet.Ristorante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>servlet.Registrazione</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>Controller</servlet-name>
       <servlet-class>servlet.Controller</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>sendPass</servlet-name>
       <servlet-class>servlet.sendPass</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>Photos</servlet-name>
       <servlet-class>servlet.Photos</servlet-class>
   </servlet>
    <servlet-mapping>
       <servlet-name>Photos</servlet-name>
       <url-pattern>/Photos</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>Ristorante</servlet-name>
       <url-pattern>/Ristorante</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
       <servlet-name>Controller</servlet-name>
       <url-pattern>/Controller</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>sendPass</servlet-name>
       <url-pattern>/sendPass</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
       <servlet-name>WebAppContextListener</servlet-name>
       <url-pattern>/WebAppContextListener</url-pattern>
   </servlet-mapping>
    <listener>
       <description>listener</description>
       <listener-class>listener.WebAppContextListener</listener-class>
   </listener>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Risposte</servlet-name>
        <url-pattern>/Risposte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recensione</servlet-name>
        <url-pattern>/Recensione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utente</servlet-name>
        <url-pattern>/Utente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/Mainagioia;user=Mainagioia;password=Mainagioia</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/argh_page.jsp</location>
    </error-page>
</web-app>

