body {
    height:100%;
  width:100%;
  background-image:url(img/SfondoGrande.jpg);/*your background image*/  
  background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
  background-size:cover;    
  }

@media only screen and (max-width: 767px) {
 body {
   /* The file size of this background image is 93% smaller
      to improve page load speed on mobile internet connections */
   background-image: url(img/SfondoPiccolo.jpg);
 }
}


