#Cerca_per {
    position: absolute;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 345px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    text-align:center; 
}

@media screen and (min-width: 40em) {
   .btn btn-primary {
      display: inline-block;
      width:auto;
    }
}

@media (max-width: 991px) {
#Sparisci {
   display:none;
  }
}

@media (min-width: 991px) {
#Sparisci_2 {
   display:none;
  }
}

.row {
    padding-top: 0;
}

.row.header {
    background-color: #ff6600;
    
 
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:90%;
    line-height: 1.5;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:100%;
    line-height: 1.6;
  }
}

#Arancio {
    background-color: #ff6600;
}



#Spazio {
    padding-top:10px;
}
.row2 {
    background-color: #f7f7f7;
}
b {
    font-size:20px;
}

.row_separatoria {
    color: gray;
}




#aperto {
    color: green;
}



/*barra di ricerca*/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
       
}
	
.flexsearch-form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 26px;
  padding: 0 0 0 5px;
	border-color: #000000;
  border-radius: 32px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 2px;
  margin-top: 0px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: -15px;
	display: block;
	width: 60px;
	height: 60px;
  border: none;
	margin-top: 0; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #000000;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

input:-moz-placeholder {
  color: #888
}

