input.placeholder {
    text-align:  center;
    border: #ffffff;
}

@media screen and (min-width: 40em) {
   .btn btn-primary {
      display: inline-block;
      width:auto;
    }
}

.blocca     {
   
   position:fixed;

} 
.hid     {
   
   display:none;
 
} 


@media (max-width: 991px) {
#Sparisci {
   display:none;
  }
}



@media (min-width: 991px) {
.Sparisci_2 {
   display:none;
   background-color: #5bc0de;
   border-color: #46b8da;
  }
}

.Azzurro_tondo {
    background-color: #5bc0de;
    border-radius: 32px;
    border: white 2px solid;
    
}
#Rosso {
    color:red;
}

@media (max-width: 505px) {
#Sparisci_3 {
   display:none;
  }
}

.row {
    padding-top: 0;
}

.row.header {
    background-color: #ff6600;
    
 
}

@media (max-width: 991px) {
    .Font_ridimensionato {
        font-size: 40px;
    }
    .Font_ridimensionato2 {
        font-size: 20px;
    }
    
}
@media (min-width: 991px) {
    .Font_ridimensionato {
        font-size: 50px;
    }
    .Font_ridimensionato2 {
        font-size: 30px;
    }
    
}


body {
    font-family: 'Comic Sans MS';
    background-color: #fff;
   
    
    

}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:90%;
    line-height: 1.5;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:100%;
    line-height: 1.6;
  }
}

@media (max-width: 768px) {
  .btn-responsive2 {
    padding:2px 4px;
    font-size:75%;
    line-height: 1.5;
    border-radius:3px;
  }
}

@media (min-width: 669px) and (max-width: 892px) {
  .btn-responsive2 {
    padding:4px 9px;
    font-size:100%;
    line-height: 1.6;
  }
}

.dropdown {
    color: #337AB7;
    left:-30px;
}

#Arancio {
    background-color: #ff6600;
}

.Arancio {
    background-color: #ff6600;
}

.Azzurro_no_bordo {
    background-color: #5bc0de;
}
.Azzurro {
    background-color: #5bc0de;
    border-color: #46b8da;

}

.textarea{ 
    min-height:120px; 
    resize:none;
}


.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.form-group {
    width: 60%;
}

#Spazio {
    padding-top:10px;
}

b {
    font-size:20px;
}

.row_separatoria {
    color: gray;
}

#Altezza {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}


#aperto {
    color: green;
}

#Font {
    font-size: 20px;
    font-weight: bold;
}
.container3 {
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

#hr1 {
    border: #e0e0e0 dashed 0.8px;
}

/*barra di ricerca*/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
       
}
	
.flexsearch-form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 26px;
  padding: 0 0 0 5px;
	border-color: #000000;
  border-radius: 32px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 2px;
  margin-top: 0px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: -15px;
	display: block;
	width: 60px;
	height: 60px;
  border: none;
	margin-top: 0; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #000000;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

input:-moz-placeholder {
  color: #888
}

/* Modal orari */
.box > .icon { 
    text-align: 
    center; 
    position: 
    relative; 
    }
.box > .icon > .image { 
    position: relative; 
    z-index: 2; 
    margin: auto; 
    width: 88px; 
    height: 88px; 
    border: 8px solid white; 
    line-height: 88px; 
    border-radius: 50%; 
    background: #428bca; 
    vertical-align: middle; 
    }
.box > .icon > .image > i { 
    font-size: 36px !important; 
    color: #fff !important; 
    }
.box > .icon:hover > .image > i { 
    color: white !important; 
    }
.box > .icon > .info { 
    margin-top: -24px; 
    background: rgba(0, 0, 0, 0.04); 
    border: 1px solid #e0e0e0; 
    padding: 15px 0 10px 0; 
    }
.box > .icon > .info > h3.title { 
    font-family: sans-serif !important; 
    font-size: 16px; 
    color: #222; 
    font-weight: 500; 
    }
.box > .icon > .info > p { 
    font-family: sans-serif !important; 
    font-size: 13px; 
    color: #666; 
    line-height: 1.5em; 
    margin: 20px;
    }
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { 
    color: #222; 
    }
.box > .icon > .info > .more a { 
    font-family: sans-serif !important; 
    font-size: 12px; 
    color: #222; 
    line-height: 12px; 
    text-transform: uppercase; 
    text-decoration: none; 
    }
.box > .icon:hover > .info > .more > a { 
    color: #fff; 
    padding: 6px 8px; 
    background-color: #63B76C; 
    }
.box .space { 
    height: 30px; 
    }

.modal-header-primary {
    color:#000;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.invisibile {
    display: none;
}

.errore {
    color: red;
}