body{ 
    margin-top:0px;
}
.glyphicon { 
    margin-right:0px;
}
.rating .glyphicon {
    font-size: 18px;
}
.rating-num { 
    margin-top:0px;
    font-size: 60px; 
}
.progress { 
    margin-bottom: 5px;
}
.progress-bar { 
    text-align: left; 
}
.rating-desc .col-md-3 {
    padding-right: 10px;
}
.sr-only { 
    margin-left: 10px;
    overflow: visible;
    clip: auto; 
}


