/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-nov-2016, 13.46.29
    Author     : Sebastian
*/

#menu{
    max-width: 100%;
    
    width: 100%; /* si adatta in larghezza a alle 
                    risoluzioni di tutti i browser */
    height: 160px;               /*cambia*/
    background-color: #ff6600;
}

#intestazione{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


#logo{
    width: 45.8%;
   
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 100px;
}

#ricerca_per{
    position: absolute;
    
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 345px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    text-align:center; 
}


body{
text-align: center;
font-family: Georgia, serif;
}

#cerca{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
}

#contenitore{
    position: absolute;
    background-color: #ffffff;
    top: 160px;
    width: 93.75%;
    margin: auto; 
    
    
     
}

#Login {
    width: 93.75%;
   position: absolute;
   background-color: #ff6600;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    text-align: right;
   
     
}



/*barra di ricerca*/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0 15.041% 0 20.041%; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 26px;
  padding: 0 46px 0 10px;
	border-color: #000000;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 2px;
  margin-top: 20px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 0; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #000000;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

input:-moz-placeholder {
  color: #888
}


